<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543109530011-oi32u1rpoficj4jbs37cqelvjj3op7mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543109530011-oi32u1rpoficj4jbs37cqelvjj3op7mv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543109530011-bdecan31pbmoq8uadsbt3buakhqg83n8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1DHuotZ2bkBzNcJ7XN8SFs3PwYHv-t6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>543109530011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almanubis</string>
	<key>PROJECT_ID</key>
	<string>almanubis-7deea</string>
	<key>STORAGE_BUCKET</key>
	<string>almanubis-7deea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543109530011:ios:f66bffd7b47931161ae13e</string>
</dict>
</plist>